<%= stylesheet_link_tag 'user' %>


<p style="color: green"><%= notice %></p>

<div class="header">
  <p> Users enrolled: <%= @users.size %> </p>
</div>

<div>

<div class="user-options">
<h4> User Actions: </h4>
  <p> <%= link_to "Add New User", new_user_path %> </p>
</div>

<div class="grid-container">

  <% @users.each do |user| %>

  <div class="grid-item">
  <div class="grid-item-content"></div>
    <div id="user">
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
    </div>
  </div>
  <% end %>

  </div>

</div>


<div class="add_link">
  <%= link_to "New user", new_user_path %>
</div>


