<div id="<%= dom_id contact_me %>">
  <p>
    <strong>Name:</strong>
    <%= contact_me.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact_me.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= contact_me.phone %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= contact_me.description %>
  </p>

</div>
