<%= stylesheet_link_tag 'bills' %>
<p style="color: green"><%= notice %></p>


<h1>Bills</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th> Paid By </th>
      <th> Paid With: </th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= link_to bill&.name, bill  || "No Name" %></td>
        <td>$<%= number_with_precision(bill&.amount, precision: 2) || "No Amount" %></td>
        <td> <%= bill.user&.name || "Not Assigned" %> </td>
        <td> <%= bill.account&.accountnum || "No Account" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
