<head>
  <style>
    /* Styling for the table */
   table {
    width: 100%; /* Full width */
    border-collapse: collapse; /* Collapse borders */
  }

/* Styling for table rows */
table tr {
  text-align: center; /* Center align text */
}

/* Styling for table cells */
td, th {
  padding: 8px; /* Padding for cells */
  border: 1px solid #ddd; /* Border for cells */
}
</style>
</head>
<p style="color: green"><%= notice %></p>

<%= render 'shared/navbar' %>

<h1>Bills</h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th> Paid By </th>
      <th> Paid With: </th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= link_to bill&.name, bill  || "No Name" %></td>
        <td>$<%= number_with_precision(bill&.amount, precision: 2) || "No Amount" %></td>
        <td> <%= bill.user&.name || "Not Assigned" %> </td>
        <td> <%= bill.account&.accountnum || "No Account" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
