<% stylesheet_link_tag 'homes' %>

<body>

  <header>
    <h1> Dashboard </h1>
  </header>

  <main>

    <div id="user-info">
      <h4>User Stats</h4>
      <p>
        Total Users Enrolled: <%= @users&.size || "No Users In Table.." %>
      </p>
      <p><%= link_to "Manage Users", users_path %></p>
    </div>

    <div id="bills-info">
      <h4>Bills Info</h4>
      <p>
        Total Bills: <%= @bills&.size || "No Bills" %>
      </p>
      <p>
        <%= link_to "Manage Bills", bills_path %>
      </p>
    </div>

    <div id="books-info">
      <h4>Books Stats</h4>
      <p>
        Total Books: <%= @books&.size || "No Books" %>
      </p>
      <p>
        <%= link_to "Manage Books", books_path %>
      </p>
    </div>

  </main>

</body>

