<div id="<%= dom_id account %>">
  <p>
    <strong>Accountnum:</strong>
    <%= account.accountnum %>
  </p>

  <p>
    <strong>Accounttype:</strong>
    <%= account.accounttype %>
  </p>

  <p>
    <strong>Accountbalance:</strong>
    <%= account.accountbalance %>
  </p>

  <p>
    <strong>Bankname:</strong>
    <%= account.bankname %>
  </p>

</div>
